.searchtop{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0, 0.8);
}
.searchtop .searchinput{
    width: 444px;
    height: 32px;
    margin: 5px auto;
}

.searchtop .searchinput .searchinputed{
    width: 394px;
    height: 32px;
    border: 2px solid #ff6600;

}

.searchtop .searchinput .searchbtn{
    width: 50px;
    height: 32px;
    border: 2px solid #ff6700;
    box-sizing: border-box;
    /* 背景图 */
    background-color: #ff6700;
    background-image: url(../images/icon_shop.png);
    background-repeat: no-repeat;
    background-position: -192px -6px;
}

